<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- Load universal robotic description format (URDF) -->
  <param if="$(arg load_robot_description)" name="robot_description" textfile="$(find abb_common)/urdf/irb_120_s.urdf" />
      
  <!-- The semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic" textfile="$(find irb_120_moveit_config)/config/irb_120_s.srdf" />
  
  <!-- Load to the parameter server yaml files -->
  <group ns="robot_description_planning">    
    <rosparam command="load" file="$(find irb_120_moveit_config)/config/joint_limits.yaml"/>
  </group>
  
</launch>
